*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

menu{
    background-color: aqua;
    color: #fff;
    padding: 10px 0; /* Espaciado interior */
    display: flex; /* Muestra los elementos en una fila */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Centra verticalmente los elementos */
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(108, 223, 238);
}

button:hover{
    background-color: rgb(108, 223, 238);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:rgb(108, 223, 238); }

header {
    background-color: white;
    padding: 10px 0; /* Espaciado interior */
    display: flex; /* Muestra los elementos en una fila */
    justify-content: flex-start; /* Alinea los elementos a la izquierda */
    align-items: center; /* Centra verticalmente los elementos */
}

header .logo{
    margin: 0;
    font-weight: bold;
    color:rgb(108, 223, 238);
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img{
    height: 100px;
    width: 100px; /* La anchura se ajustará automáticamente para mantener la proporción original */
    margin-right: 5px;
    padding-left: 10px;
    float: left;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    float: right;
}

header a:hover{
    color: rgb(108, 223, 238);
}

.search-button {
    display: flex; /* Muestra los elementos en una fila */
    align-items: center; /* Centra verticalmente los elementos */
    margin-left: 5px; /* Espacio a la izquierda del botón */
    float: left;
}

.search-button input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-right: 5px; /* Espacio a la derecha del campo de búsqueda */
}

.search-button button {
    background-color: #007bff; /* Color de fondo del botón de búsqueda */
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

/* Estilos para las opciones de filtro */
.filter-options select {
    background-color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px;
    margin-right: 20px; /* Espacio a la derecha de las opciones de filtro */
}

#proyectos{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#proyectos .container{
    padding: 150px 12px;
}

#proyectos h2{
    margin-top: 0;
    font-size: 3.2em;
}

#proyectos p{
    display: none;
}

#proyectos .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/front-end.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/full-stack.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/python.jpg");

}

#iniciar-sesion .container{
    text-align: center;
    padding: 250px 12px;
}

#iniciar-sesion li{
    margin: 16px 0px;
    font-weight: bold;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #ff8c00;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        margin: 10px 0;
        text-align: center;
    }
}

@media (min-width: 720px){
    .menu-button {
        cursor: pointer;
    }
    
    .sidebar {
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #333;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        z-index: 1;
    }
    
    .sidebar ul {
        list-style: none;
        padding: 0;
    }
    
    .sidebar li {
        margin: 10px 0;
        text-align: center;
    }
    
    .sidebar a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        display: block;
        transition: 0.3s;
    }
    
    .sidebar a:hover {
        color: #007bff;
    }

    header{
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 100; 
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #proyectos .programas{
        display: flex;
        justify-content: center;
    }

    #proyectos p{
        display: block;
        margin-bottom: 30px;
    }

    #proyectos h2{
        font-size: 4em;
    }

    #proyectos h3{
        margin-top: 0;
    }

    #proyectos .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/front-end-cropped.jpg");

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/full-stack-cropped.jpg");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/python-cropped.jpg");

    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
}